
<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#">
                            <img class="img" src="./assets/img/faces/joe1.jpeg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Imposter in Chief</h6>
                        <h4 class="card-title">Joseaph Mankin</h4>
                        <p class="card-description">
                            Sure it's a dumpster fire, but it's OUR dumpster fire.
                        </p>
                        <a href="https://github.com/JoseaphMankin" class="btn btn-danger btn-round">Github</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#">
                            <img class="img" src="./assets/img/faces/wes.jpeg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">AnguLord of the Rings</h6>
                        <h4 class="card-title">Wes Kruger</h4>
                        <p class="card-description">
                            Psst. You want some routes? Cause I got the good stuff over here.
                        </p>
                        <a href="https://github.com/wesleykruger" class="btn btn-danger btn-round">Github</a>
                    </div>
                </div>
            </div>
        
          </div>
          <div class="row">

              <div class="col-md-6">
                  <div class="card card-profile">
                      <div class="card-avatar">
                          <a href="#">
                              <img class="img" src="./assets/img/faces/john.jpeg" />
                          </a>
                      </div>
                      <div class="card-body">
                          <h6 class="card-category text-gray">D.J.Query</h6>
                          <h4 class="card-title">John van der Hagen</h4>
                          <p class="card-description">
                              BAC decay? That's easy. Testing it on yourself.... also easy. 
                          </p>
                          <a href="https://github.com/Shoka25" class="btn btn-danger btn-round">Github</a>
                      </div>
                  </div>
              </div>
  
              <div class="col-md-6">
                  <div class="card card-profile">
                      <div class="card-avatar">
                          <a href="#">
                              <img class="img" src="./assets/img/faces/casey.jpeg" />
                          </a>
                      </div>
                      <div class="card-body">
                          <h6 class="card-category text-gray">Senior VP of Art and Advertising</h6>
                          <h4 class="card-title">Casey J Lee</h4>
                          <p class="card-description">
                              I like big buttons, and I can not lie.
                          </p>
                          <a href="https://github.com/CaseyJak" class="btn btn-danger btn-round">Github</a>
                      </div>
                  </div>
              </div>
          
            </div>

        


    </div>
</div>