<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#joe">
                            <img class="img" src="./assets/img/faces/joe.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Angulord Imposter</h6>
                        <h4 class="card-title">Joseaph Mankin</h4>
                        <p class="card-description">
                            Howdy, your loveable draconian overlord here. Sure it's a dumpster fire, but it's OUR dumpster fire. 
                        </p>
                        <a href="https://github.com/JoseaphMankin" class="btn btn-danger btn-round">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#joe">
                            <img class="img" src="./assets/img/faces/joe.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Angulord Imposter</h6>
                        <h4 class="card-title">Joseaph Mankin</h4>
                        <p class="card-description">
                            Howdy, your loveable draconian overlord here. Sure it's a dumpster fire, but it's OUR dumpster fire. 
                        </p>
                        <a href="https://github.com/JoseaphMankin" class="btn btn-danger btn-round">Github</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </div>
  