<div class="logo coasterBack">
    <a href="https://github.com/no-regrets/project_2" class="simple-text">
        <!-- <div class="logo-img">
            <img src="/assets/img/gremlin.jpg"/>
        </div> -->
        <img class="img nrlogo" src="../../assets/img/No-Regrets-Logo.png" />
        <!-- <img class="nrlogo" src="../../../assets/img/gremlin-face.png">
        <p class="neon">No Regrets</p> -->
    </a>
</div>
<div class="sidebar-wrapper greenBack">
  <div *ngIf="isMobileMenu()">
    <!-- <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form> -->
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item">
            <a class="nav-link" href="#pablo">
                <i class="material-icons">dashboard</i>
                <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                </p>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item yellow" href="#">Crunky the Gremlin says, "Let's Party"</a>
                    <a class="dropdown-item yellow" href="#">You are on a roll.</a>
                    <a class="dropdown-item yellow" href="#">Water might not be a bad idea!</a>
                    <a class="dropdown-item yellow" href="#">Cops are in the alley. Watch out!</a>
                    <a class="dropdown-item yellow" href="#">You drank way too much. Calling Ambulance now.</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#pablo">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
