
/* Drink Buttons */
.nrlogo{
    width: 100%;
    height: auto;
    align-content: center;
}

/* For floating icon */
.iconBack{
    width:30%;
    height:auto;
    /* background: none;
    background-color: none;
    background-size: auto; */
    float: left;
    margin-top: -20px;
    margin-right: 15px;
    border-radius: 3px;
}

.backColor{
    background: rgb(74, 103, 27, .65);
    margin: 15px;
    /* background: #49671f; */
}
.cardColor{
    background: rgb(246, 247, 49, .97);
    padding-top: 5px;
}

.backImage{
    background-image: url(../../assets/img/divebar-hero-dark.jpg)
}

.btnSize{
    height: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center
    
}

.card-category{
    color: black;
}