<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                    <button mat-raised-button type="submit" class="btn btn-danger pull-left" [routerLink]="['/add-drink']">Add
                        a drink</button>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Drink
                                    </th>
                                    <th>
                                        Alcohol Content
                                    </th>
                                </thead>
                                <tbody *ngFor="let drink of drinks">
                                    <tr>
                                        <td>{{drink?.id}}</td>
                                        <td>{{drink?.name}}</td>
                                        <td>{{drink?.alcoholContent}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>